* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}


#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outlet{
    flex: 1 0 auto;
    margin: 0 auto;
    width: 800px;
    padding-bottom: 30px;
}



.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    background: teal;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 10px;
}

footer {
    flex: 0 0 auto;
    background: lightblue;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




