.navbar {
    flex: 0 0 auto;
    background: lightgray;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar__links {
    margin-left: auto;
    display: flex;
    justify-content: space-between;

}

.navbar__links a{
    text-decoration: none;
    color: teal;
    margin: 0 10px;
}

.navbar__links a:hover{
    text-decoration: underline;
}
.active-link{
    color: red;
    font-weight: bold;
}